fastapi
uvicorn
streamlit
python-dotenv
pandas
openpyxl
langchain
langchain-google-genai
langchain-community
langchain-pinecone
langchain-huggingface
google-generativeai
pinecone-client
beautifulsoup4
selenium
webdriver-manager
sentence-transformers
torch