fastapi
uvicorn
streamlit
python-dotenv
pandas
openpyxl
langchain-google-genai
langchain-huggingface
langchain-community
langchain-pinecone
langchain-core
google-generativeai
pinecone-client
beautifulsoup4
selenium
webdriver-manager
sentence-transformers